[submodule "pack/thirdparty/start/Zenburn"]
	path = pack/thirdparty/start/Zenburn
	url = https://github.com/vim-scripts/Zenburn.git
[submodule "pack/thirdparty/start/nerdtree"]
	path = pack/thirdparty/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/thirdparty/start/vim-airline"]
	path = pack/thirdparty/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/thirdparty/start/vim-airline-themes"]
	path = pack/thirdparty/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/thirdparty/start/vim-colors-solarized"]
	path = pack/thirdparty/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/thirdparty/start/vim-nerdtree-tabs"]
	path = pack/thirdparty/start/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "pack/thirdparty/start/vimteractive"]
	path = pack/thirdparty/start/vimteractive
	url = https://github.com/williamjameshandley/vimteractive
	ignore = dirty
[submodule "pack/thirdparty/start/coc.nvim"]
	path = pack/thirdparty/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/thirdparty/start/vimtex"]
	path = pack/thirdparty/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/thirdparty/start/neosnippet.vim"]
	path = pack/thirdparty/start/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "pack/thirdparty/start/neosnippet-snippets"]
	path = pack/thirdparty/start/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
